<form action="/login" method="POST">
    <h3>LOGIN</h3>
    <input type="text" placeholder="Username" name="username"></input>
    <input type="password" placeholder="Password" name="password"></input>
    <input type="submit" value="LOGIN"></input>
</form>

<form action="/register" method="POST">
    <h3>REGISTER</h3>
    <input type="text" placeholder="Username" name="username"></input>
    <input type="email" placeholder="Email" name="email"></input>
    <input type="password" placeholder="Password" name="password"></input>
    <input type="password" placeholder="Password" name="confirmPassword"></input>
    <input type="submit" value="REGISTER"></input>
</form>